@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Ubuntu:wght@400;500;700&display=swap");

/*General Styles*/
:root {
	--panel-width: 100vw;
	--slide-width: 90vw;
	font-family: "Ubuntu", sans-serif;
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;

	width: 100vw;
	min-height: 100vh;
	padding: 0;
	margin: 0;

	background: url("./assets/images/bg-sidebar-mobile.svg");
	background-repeat: no-repeat;
	background-size: contain;
	background-color: hsl(217, 100%, 97%);
}

h1 {
	font-size: 1.5em;
	color: hsl(213, 96%, 18%);
	margin-block: 0 0.8rem;
}

p {
	font-size: 1em;
	color: hsl(231, 11%, 63%);
	line-height: 1.5em;
	margin-block: 0 1rem;
}

label {
	font-size: 0.8rem;
	font-weight: 400;
	color: hsl(213, 96%, 18%);
}

input {
	display: block;
	font-size: 1rem;
	font-weight: 500;

	color: hsl(213, 96%, 18%);
	border: 1px solid hsl(229, 24%, 87%);
	border-radius: 0.2rem;

	width: 100%;
	height: 2.5rem;
	box-sizing: border-box;
	padding-inline: 1rem;
	margin: 0;

	transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

/*Navigation menu*/
nav p,
nav h1 {
	display: none;
}

nav {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 13vh;
}

nav input {
	display: none;
}

nav a {
	display: block;
	text-align: center;
	line-height: 2.1rem;
	font-size: 0.9rem;
	font-weight: 700;
	text-decoration: none;
	width: 2.1rem;
	height: 2.1rem;

	margin-inline: 0.5rem;

	color: hsl(229, 24%, 87%);
	border: 1px solid hsl(229, 24%, 87%);
	border-radius: 100vmax;

	user-select: none;
	cursor: pointer;
}

input:checked + a {
	background-color: hsl(206, 94%, 87%);
	color: hsl(213, 96%, 18%);
}

/*Panel and Slides*/

.panel {
	position: relative;
	overflow-x: hidden;

	box-sizing: border-box;
	width: var(--panel-width);
	padding-inline: calc(calc(var(--panel-width) - var(--slide-width)) / 2);
}

.panel-content {
	display: flex;
	flex-direction: row;

	transition: transform 200ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.slide {
	display: flex;

	flex-direction: column;
	flex-shrink: 0;

	box-sizing: border-box;
	width: var(--slide-width);
	height: fit-content;

	padding: 2rem 1.4rem;
	margin-right: 5rem;
	border-radius: 0.6rem;
	background-color: hsl(231, 100%, 99%);
	box-shadow: 0px 0px 10px 10px hsla(231, 11%, 63%, 0.109);
}

/*Input Container*/
/* -Input Field and error messages*/
.input-field {
	position: relative;
	margin-bottom: 0.7rem;
}

.input-field::before {
	content: "";
	font-size: 0.7rem;
	position: absolute;
	top: 0;
	right: 0;
	color: hsl(354, 84%, 57%);

	transform: translateX(10px);
	transition: transform 100ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.input-field[invalid] input {
	border-color: hsl(354, 84%, 57%);
}

.input-field[invalid]::before {
	transform: translateX(0);
}

.input-field[invalid="no-selection"]::before {
	top: auto;
	bottom: -1rem;
	content: "A selection is required";
}
.input-field[invalid="empty"]::before {
	content: "This field is required";
}
.input-field[invalid="invalid"]::before {
	content: "Invalid input";
}

/* -Input containers*/
.input-container {
	display: grid;
	grid-template-columns: 3fr 9fr 1fr;
	grid-template-rows: 1rem;

	font-size: 0.65rem;
	margin-bottom: 0.7rem;
	padding: 1.2rem;
	border: 1px solid hsl(229, 24%, 87%);
	border-radius: 0.5rem;

	cursor: pointer;
	user-select: none;

	transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

input:hover,
.input-container:hover {
	border-color: hsl(213, 96%, 18%);
}

.input-container * {
	padding: 0;
	margin: 0;
}

.price {
	font-size: 0.9rem;
}

.offer {
	font-size: 0.8rem;
	color: hsl(213, 96%, 18%);
}

.input-container[data-checked="true"] {
	border-color: hsl(243, 100%, 62%);
	background-color: hsla(228, 100%, 84%, 0.091);
}

.input-container :not(img) {
	grid-column: 2;
}

.input-container > input {
	pointer-events: none;
	display: none;
}

.checkbox {
	grid-template-columns: 2fr 12fr 1fr;
	padding: 0.8rem;
	padding-left: 0;
}

.checkbox::before {
	content: "";
	grid-column: 1;
	grid-row: span 2;
	margin: auto;
	width: 1.1rem;
	height: 1.1rem;
	border-radius: 0.3rem;
	border: 1px solid hsl(229, 24%, 87%);

	transition: border-color 70ms cubic-bezier(0.165, 0.84, 0.44, 1),
		background-color 100ms ease-in;
}

.checkbox[data-checked="true"]::before {
	background-image: url("./assets/images/icon-checkmark.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-color: hsl(243, 100%, 62%);
	border-color: hsl(243, 100%, 62%);
}

.checkbox > h1 {
	font-size: 0.9rem;
	font-weight: 500;
}

.checkbox > p {
	font-size: 0.8rem;
}

.checkbox > .price {
	grid-column: 3;
	grid-row: 1 / 2;
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 2rem;
	color: hsl(243, 100%, 62%);
}

.toggle-container {
	display: flex;
	align-items: center;
	margin-top: 2rem;
	padding: 0;
	border: none;
	cursor: auto;
}

.toggle-container[data-checked="true"] {
	background-color: transparent;
}

.toggle-container > p {
	font-size: 0.9rem;
	font-weight: 500;
	margin: auto;
}

.toggle-container :first-child {
	color: hsl(213, 96%, 18%);
	margin-right: 2rem;
}
.toggle-container :last-child {
	margin-left: 2rem;
}
.toggle-container[data-checked="true"] :first-child {
	color: hsl(231, 11%, 63%);
}
.toggle-container[data-checked="true"] :last-child {
	color: hsl(213, 96%, 18%);
}

.toggle-container > .switch {
	display: block;
	position: relative;
	background-color: hsl(213, 96%, 18%);
	border-radius: 100vmax;
	width: 2rem;
	height: 1.2rem;
	cursor: pointer;
}

.toggle-container > .switch::before {
	display: block;
	position: absolute;
	content: "";
	width: 0.8rem;
	height: 0.8rem;
	border-radius: 100vmax;
	background-color: hsl(0, 0%, 100%);
	top: 0.2rem;
	left: 0.2rem;
	transition: transform 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.toggle-container[data-checked="true"] > .switch::before {
	transform: translateX(0.8rem);
}

/*Results table*/
.result p,
.result a,
.result h1 {
	font-size: 0.9rem;
	padding: 0.2rem 0;
	margin: 0;
}

.result .price {
	font-size: 0.9rem;
	margin: auto;
}

.services-table > *,
.total {
	display: grid;
	grid-template-columns: 4fr 1fr;
	padding-block: 0.8rem;
}

.result :not(.price) {
	grid-column: 1;
}

.services-table {
	background-color: hsl(217, 100%, 97%);
	padding: 0.2rem 1rem;
	border-radius: 0.4rem;
}

.plan {
	border-bottom: 1px solid hsl(229, 24%, 87%);
	padding-block: 1rem;
}

.addons .price {
	color: hsl(213, 96%, 18%);
}

.total {
	padding-inline: 1rem;
}

.total .price {
	font-size: 1.2rem;
	font-weight: 500;
	color: hsl(243, 100%, 62%);
}

/*Step 5*/
#step-5 {
	padding-block: 4rem;
	text-align: center;
}

#step-5 img {
	height: 4rem;
	margin-bottom: 2rem;
}

.nav-buttons {
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: white;
}

#go-back,
#next-step {
	font-size: 1rem;
	font-weight: 700;

	background-color: transparent;
	color: hsl(231, 11%, 63%);
	border: none;
	border-radius: 0.3rem;

	padding: 0.5rem 1.3rem;
	margin: 1rem;
	cursor: pointer;
}

#next-step {
	background-color: hsl(213, 96%, 18%);
	color: white;
	margin-left: auto;
}

#next-step:hover {
	background-color: hsl(243, 100%, 62%);
}

#go-back:hover {
	color: hsl(213, 96%, 18%);
}

@media (min-width: 500px) {
	:root {
		--main-width: min(95vw, 860px);
		--panel-width: calc(var(--main-width) * 0.666);
		--slide-width: calc(var(--panel-width) * 0.85);
	}

	body {
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		background-color: hsl(217, 100%, 97%);
	}

	main {
		background-color: hsl(231, 100%, 99%);
		display: grid;
		position: relative;
		grid-template-columns: 1fr 2fr;
		width: var(--main-width);
		height: min(95vh, 530px);
		border-radius: 1rem;
		padding: 1rem;
	}

	.slide {
		box-shadow: none;
	}

	.slide > h1 {
		font-size: 1.9rem;
	}

	.slide > p {
		margin-bottom: 2.4rem;
	}

	.panel {
		grid-column: 2;
	}

	nav {
		grid-column: 1;
		grid-row: span 2;
		gap: 2rem;
		display: flex;
		flex-direction: column;
		align-items: start;
		justify-content: start;

		background: url("./assets/images/bg-sidebar-desktop.svg");
		background-repeat: no-repeat;
		background-size: contain;

		width: auto;
		height: auto;
		padding: 2rem 1rem;
	}

	.nav-button {
		display: grid;
		grid-template-columns: 1fr 9fr;
	}

	nav a {
		grid-row: span 2;
		font-size: 0.8rem;
		width: 1.8rem;
		height: 1.8rem;
		line-height: 1.8rem;
		margin-block: auto;
	}

	nav h1,
	nav p {
		display: block;
		grid-column: 2;
		text-transform: uppercase;

		margin: 0;
		padding: 0;
	}

	nav h1 {
		font-size: 0.8rem;
		color: hsl(231, 100%, 99%);
	}

	nav p {
		font-size: 0.7rem;
		color: hsl(228, 100%, 84%);
	}

	.nav-buttons {
		position: inherit;
		grid-column: 2;
		height: 4.5rem;
		width: var(--slide-width);
		padding-left: calc(calc(var(--panel-width) - var(--slide-width)) / 2.4);
		background-color: transparent;
	}

	#step-2 .input-field {
		display: flex;
		justify-content: space-between;
		gap: 1rem;
		flex-direction: row;
	}

	#step-2 .input-field .input-container {
		display: flex;
		flex-direction: column;
		flex-basis: 100%;
	}

	#step-2 img {
		width: 2.4rem;
		height: 2.4rem;
		margin-bottom: 2.8rem;
	}

	#step-3 form {
		display: flex;
		flex-direction: column;
	}

	#step-3 .input-container {
		padding-block: 1.3rem;
	}

	#step-5 img {
		margin-top: 3rem;
		margin-inline: auto;
		width: 5rem;
		height: 5rem;
	}
}
